<mat-toolbar color="primary">
  <span>
    <img src="/assets/images/logo.png" height=30 width=41>
  </span>
  <div fxShow.lt-md="false" fxShow.gt-sm="true">
    <a mat-button routerLink="/pagina1" routerLinkActive="active">      <span class="fa fa-home fa-lg"></span> pagina1|</a>
    <a mat-button routerLink="/pagina2" routerLinkActive="active">      <span class="fa fa-info fa-lg"></span> pagina2</a>
  </div>
  <button mat-icon-button (click)="openMenu()" fxShow.sm="true" fxShow.gt-sm="false">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-spacer"></span>
  <a *ngIf="!username" mat-button (click)="openLoginForm()">
    <span class="fa fa-sign-in fa-lg"></span> ingresar</a>
  <a *ngIf="username">{{username}}</a>
  <a *ngIf="username" mat-button (click)="logOut()">
    <span class="fa fa-sign-out fa-lg"></span> Salir</a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>RCN Radio</h1>
    <p>una descripcon </p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>