
<div class="container footer">

  <div>
    <div>
      <div >
        <h4>Links <i class="material-icons">
          3d_rotation
          </i></h4>
        <ul>
          <li><a md-button routerLink="/pagina1">uno</a></li>
          <li><a md-button routerLink="/pagina2" >dos</a></li>
          <li><a md-button routerLink="/pagina3">Menu</a></li>
          <li><a md-button routerLink="/pagina4">otro</a></li>
        </ul>
      </div>
      <div >
        <h4></h4>
        <address style="text-size: 80%">
          calle12 # 37 <br> bogota<br> Colombia<br>
          <i class="fa fa-phone"></i>: 111<br>
          <i class="fa fa-fax"></i>: +57 3220000<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:rcnradio@rcnradio.com.co">rcnradio@rcnradio.com.co</a>
        </address>
      </div>
    </div>
  </div>
  <div >
    <div style="text-align:center">
      <a class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div >
    <div style="text-align:center;">
      <p>© Copyright 2018 </p>
    </div>
  </div>
</div>  